{% extends "index.html" %}

{% block body_block%}
<br>
<div class="row">

<div class="col-lg-6">
  <h2>This is my register page...</h2>
</div>
<div class="col-lg-6">
<div class="jumbotron">
  {% if registered %}
  <h1>Thank you for registering!!!</h1>
  {% else %}
  <h4>Fill the form:</h4>
  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}
    <input type="submit" name="" value="Register" class="btn btn-success">
  </form>
  {% endif %}

</div>
</div>

</div>
{% endblock %}
